
body {
	background: url(/unsubscribe/bg.jpg);
	background-repeat:repeat-y;
	background-position:right;
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: transparent;
	margin: 45px auto;
	width: 480px;
	text-align: center;
	border-collapse: collapse;
	padding-top: 310px;
}

table .th{
	font-size: 18px;
	font-weight: normal;
	color: #4889C2;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}

table .td {
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}	

table .tbody .trbody:hover .td {
	color: #660099;
}

form {
	width: 380px;
	height: 260px;
	margin: 20px auto;
	background: transparent;
	border-radius: 3px;
	text-align: center;
	padding-top: 1px;
}

form .text-field {																			/* Input fields; Username, Password etc. */
	border: 1px solid #a6a6a6;
	width: 280px;
	height: 35px;
	text-align: center;
	font-size: 16px;
	border-radius: 3px;
	margin-top: 10px;
	padding-left: 10px;
	color: #6c6c6c;
	background: #fcfcfc;
	outline: none;
}

form .text-field:focus {
	box-shadow: inset 0 0 2px rgba(0,0,0, .3);
	color: #a6a6a6;
	background: white;
}

form .button {																				/* Submit button */
	border-radius: 3px;
	border: 1px solid #336895;
	box-shadow: inset 0 1px 0 #8dc2f0;
	width: 280px;
	height: 40px;
	margin-top: 20px;
	
	background: linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -o-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -moz-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -webkit-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -ms-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	
	cursor: pointer;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 0 #336895;
	
	font-size: 13px;
}

form .button:hover {
	background: linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -o-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -moz-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -webkit-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -ms-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
}

form .button:active {
	background: linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -o-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -moz-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -webkit-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -ms-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	
	box-shadow: inset 0 0 2px rgba(0,0,0, .3), 0 1px 0 white;
}

caption {
	text-align: center;
	font-size: 20px;
	color: #4889C2;
	
}

#smp {
	color: #4889C2;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 15px;
}

nav {
	display: inline;
	word-spacing: 20px;
	color: rgb(185, 177, 177);
	font-weight: bold;
	font-family: arial, sans-serif;
	text-decoration: none;
	position: relative;
	left: 10px;
}

nav2 {
	word-spacing: 0px;
}
a {
	text-decoration: none;
	color: rgb(185, 177, 177);
}
a:hover{
	color: #fff
}

.header-box {
	left : 0;
	height: 30px;
	border-color: #000;
	background-color: #2d2d2d;
	background-repeat: repeat-x;
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
	font: 13px/27px Arial,sans-serif
}

#unfsubscribe {
	float:left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 20px;
	color: #4889C2;
	padding-top: 100px;
}

.box h3{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 15px;
	color: #4889C2;
	text-align:center;
	position:relative;
	top:35px;
}
#clk {
	color: rgb(87, 148, 58);
}
.box {
	float:left;
	width:22%;
	height:150px;
	background:#FFF;
	top: 100px;
	margin:40px auto;
}

h2 {
	text-align: center;
	color: #4889C2;
}