<html>
    <head>
        <title>Login required</title>
        <link type="text/css" rel="stylesheet" href="/guest/guest.css" />
    </head>
    <body>
        <div id="hdbox" class="header-box">
            <header>
                <nav>
                    <a href="/">Home</a> <a href="/profile">Profile</a> <a href={{login_url}}>Login</a>
                    | 
                    <nav2>You are currently not logged in.</nav2>
                </nav>
            </header>
        </div>
    </body>
</html>